<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Libreria" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=libreria.Libreria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="LibreriaHCConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LibreriaHC.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="LibreriaHCEntities" connectionString="metadata=res://*/DataMOdel.csdl|res://*/DataMOdel.ssdl|res://*/DataMOdel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\LibreriaHC.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="conexionLocal"  connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBLibreria;Integrated Security=True;"/>  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--add key="connectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBLibreria;Integrated Security=False; User=sa; Password=Hoja.123;"-->
    <add key="connectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBLibreria;Integrated Security=True;"/>
    <add key="connectionCommandTimeout" value="6000"/>
  </appSettings>
</configuration>
